.body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  align-items: center;
  grid-template-rows: 24% 60% 16%;
  height: 100vh;
  width: 100vw;
  border: 1px solid;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: sandybrown;
}
.main-content {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
}
.footer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content:center;
  gap:40px;
  align-items: center;
  background-color: cornflowerblue;

  > button {
    height: 40%;
    width: 10%;
  }
}